bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/AzureDevopsDemo
bin/Debug/net8.0/AzureDevopsDemo.deps.json
bin/Debug/net8.0/AzureDevopsDemo.dll
bin/Debug/net8.0/AzureDevopsDemo.pdb
bin/Debug/net8.0/AzureDevopsDemo.runtimeconfig.json
bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net8.0/Microsoft.OpenApi.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
